body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: 'Russo One' !important;
}

.btn {
    font-family: 'Russo One' !important;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    margin-left: -8rem;
}

.page-footer .container {
    padding-bottom: 0.75rem;
}

/*------------------------------------------*/
/*            Page de connexion             */
/*------------------------------------------*/


div.boiteConnexion {
    position: absolute;
    padding: 50px;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -250px;
    /* Cette valeur doit être la moitié négative de la valeur du height */
}

.mt-5 {
    margin-top: 5rem;
}

.cursorPointer {
    cursor: pointer;
}

.title {
    display: block;
    background-color: #bfd0d6;
    border-style:groove;
    border-radius: 15px;
    font-size: 13px;
}

.info-salarie, .info-entreprise{
    border-style:groove;
    border-radius: 15px;
    font-size: 13px;
}

.info-entreprise{
    font-size: 13px;
}
.corpsFDP {
    border-style:groove;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-collapse: collapse;
}
.responsive-img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headFDP{
    background-color: #bfd0d6;
}
th, td{
    padding: 8px;
}

.sf-dump {
    z-index: 998 !important;
}

.sous-titre {
    font-size: 13px ;
}


img.default-profile{
    clip-path:ellipse(50% 50%);
    width:"100"; 
    height:"100"
}