body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: Gugi, 'Times New Roman', serif;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    margin-left: -8rem;
}

.page-footer .container {
    padding-bottom: 0.75rem;
}

/*------------------------------------------*/
/*            Page de connexion             */
/*------------------------------------------*/


div.boiteConnexion {
    position: absolute;
    padding: 50px;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -250px;
    /* Cette valeur doit être la moitié négative de la valeur du height */
}

.mt-5 {
    margin-top: 5rem;
}

.cursorPointer {
    cursor: pointer;
}

.title {
    display: block;
}