body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: Gugi, 'Times New Roman', serif;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    margin-left: -8rem;
}

.page-footer .container {
    padding-bottom: 0.75rem;
}