<!DOCTYPE html>
<html lang="en">

    <body>
        <div class="container">
            <p>
                Bonjour, 
            </p>
             <p>   
                votre compte a été créé, vous vous connecterez avec votre e-mail professionnel ainsi que le mot de passe ci-dessous:
            </p>
        </div> 

        </br>
        
        <div class="container">
            <table border="1">
                <tr>
                    <td>{{ mdp }}</td>
            </table>
        </div>
    </body>
</html>