<!DOCTYPE html>
<html lang="en">

    <body>
        <div class="container">
            Bonjour, votre compte a été créé, vous vous connecterez avec votre e-mail pro ainsi que ce mot de passe ci-dessous:
        </div> 

        </br>
        
        <div class="container">
            <table border="1">
                <tr>
                    <th>{{ mdp }}</th>
                </tr>
            </table>
        </div>
    </body>
</html>