<!DOCTYPE html>
<html lang="en">

    <body>
        <div class="container">
            <p>
                Bonjour, 
            </p>
             <p>
                Pour réinitialiser votre mot de passe, veuillez vous diriger vers le lien {{token}}
            </p>
        </div> 

        </br>
        
        <div class="container">
            <a href="http://s3-4393.nuage-peda.fr/simpleduc/index.php?page=newPassword&token={{ token }}">Réinitialiser mon mot de passe !</a>
        </div>
    </body>
</html>