<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="container">
    <!--header-->
    <div class="row">
        <div class="col s6">
            <div class="title">
                <h4 class="center-align"><b>FICHE DE PAIE</b></h4>
            </div>
            <p class="center-align">Paie de var.debutPaieMoinsUn au var.finPaieMoinsUn</p><br>
            <p class="info-salarie">
            Matricule: var.user.id<br>
            Numéro SS: var.user.numSecu<br>
            Emploi: Emploi<br>
            Qualif: Qualif<br>
            Indice: Indice<br>
            Date début ancienneté: var.user.dateEmbauche<br>
            Heures payées: var.heuresPayees<br>
            Entrée: var.user.dateEmbauche<br>
            Sortie: <br>
            </p>
        </div>

        <div class="col s6">           
            <p class="info-entreprise">
                <img class="responsive-img" src="images/logo.jpeg"><br>
            Nom de l'entreprise: <b>SIMPLEDUC SAS</b><br>
            SIRET: <br>
            URSAFF: <br>
            ORG. SS: <br>
            APE: <br>
            </p>
            <br>
            <p class="center-align">Nom de l'employé: var.user.nom</p>
            <p class="center-align">Prénom de l'employé: var.user.prenom</p><br>
        </div>
    </div>

    <!--corps de la FDP-->
    <div class="row">
        <div class="col s12">
            <table class="corpsFDP">
                <thead>
                    <tr>
                        <th scope="col">Rubrique</th>
                        <th class="right-align" scope="col">Quantité<br>Ou base</th>
                        <th class="right-align" scope="col">Taux</th>
                        <th class="right-align" scope="col">A déduire</th>
                        <th class="right-align" scope="col">A payer</th>
                        <th class="right-align" scope="col">Charges patronales<br>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left-align">Salaire</td>
                        <td class="right-align">var.Qtebase</td>
                        <td class="right-align">var.tauxH</td>
                        <td class="right-align"></td>
                        <td class="right-align">var.Qtebase + tauxH</td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align"><b>TOTAL BRUT</b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"><b>var.totalBrut</b></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align"><b><u>SANTE</u></b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Sécurité sociale - Maladie Maternité Invalidité Décès</td>
                        <td class="right-align">var.totalBrut</td>
                        <td class="right-align">var taux</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">var.</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>                                        
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                    <tr>
                        <td class="left-align">The table body</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                        <td class="right-align">with two columns</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--ligne net à payer avant IS-->
    <div class="row">
        <div class="col s12">
        </div>
    </div>

    <!--ligne IS-->
    <div class="row">
        <div class="col s12">
        </div>
    </div>

    <!--ligne date paiement et net à payer-->
    <div class="row">
        <div class="col s8">
        </div>
        <div class="col s4">
        </div>
    </div>

    <!--ligne congés et cumul imposable-->
    <div class="row">
        <div class="col s4">
        </div>
        <div class="col s6">
        </div>
        <div class="col s2">
        </div>
    </div>
</div>
</body>

</html>