{% extends "base.html.twig" %}
{% block title %} {{ parent() }}
	- Ajout de compte
{% endblock %}

{% block contenu %}

	{% if form.valide is defined %}
		{% if form.valide == true %}
        <div class="container">
			<h3>Inscription réussie !</h3>
			<h3>L'e-mail du compte est <u>{{form.email}}</u>, communiquez ces identifiants au nouvel utilisateur !</h3>
        </div>
        {% else %}
        <div class="container">
			<h3>Échec de l'inscription !</h3>
			<h3>{{form.message}}</u></h3>
        </div>            
		{% endif %}
	{% endif %}

	<div class="container">
		<div class="row">
        <form action="ajout" method="post">
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>   
                <input id="prenom" type="text" name="prenom">              
                <label for="prenom">Prénom</label>               
            </div>
            <div class="input-field col s6">
                <input id="nom" type="text" name="nom">
                <label for="Nom">Nom</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">alternate_email</i>               
                <input id="email" type="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>    
                <input id="dateEmbauche" type="date" name="dateEmbauche">
                <label for="dateEmbauche">Date d'embauche</label>
            </div>
            
            <div class="input-field col s12">
                <i class="material-icons prefix">work</i>     
                <select name="fonction">
                <option value="1">Développeur</option>
                <option value="2">Responsable technique</option>
                <option value="3">Comptable</option>
                <option value="4">Resssources humaines</option>
                <option value="5">Direction</option>
                </select>
                <label>Fonction dans l'entreprise</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="btInscrire">Ajouter
                <i class="material-icons right">send</i>
            </button>    
        </form>
	</div>


{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function () {
        $('select').formSelect();
    });
</script>

{% endblock %}
