{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Accueil{% endblock %}


{% block navbar %}{% endblock %}

{% block contenu %}

<div class="boiteConnexion z-depth-3 white">
    Ceci est votre première connexion veuillez creer un nouveau mot de passe:
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="input-field col s6">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" class="validate" required autofocus>
        </div>
        <div class="input-field col s6">
            <label for="passwordR">Repeter Mot de passe</label>
            <input type="password" id="passwordR" name="passwordR" required>
        </div>
        <div class="center-align col s6">
            <button class="waves-effect waves-light btn" type="submit" name="btConnecter">Se connecter</button>
        </div>	    
    </form>

    {% if form.valide == false %}
    <br>
    <br>
    <div class="center-align">
        <span>{{ form.message }}</span>
    </div>
    {% endif %}
    
</div>
{% endblock %}