{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Accueil{% endblock %}


{% block navbar %}{% endblock %}

{% block contenu %}

<div class="boiteConnexion z-depth-3 white">
    Pour votre première connexion, veuillez créer un nouveau mot de passe:
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="input-field col s6">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" class="validate" required autofocus>
        </div>
        <div class="input-field col s6">
            <label for="passwordR">Répéter le mot de passe</label>
            <input type="password" id="passwordR" name="passwordR" required>
        </div>
        <div class="center-align col s6">
            <button class="waves-effect waves-light btn" type="submit" name="btConnecter" disabled>Se connecter</button>
        </div>
    </form>

    {% if form.valide == false %}
    <br>
    <br>
    <div class="center-align">
        <span>{{ form.message }}</span>
    </div>
    {% endif %}
    
</div>
{% endblock %}

{% block javascript %}
<script>

$(document).ready(function() {
    $('#password').change(function() {
        var valid = isPswdValid($('#password').val());
        console.log(valid);
    });

    $('#passwordR').change(function() {
        console.log('check ' + ($('#password').val() == $('#passwordR').val()));
        if($('#password').val() == $('#passwordR').val()) {
            toggleButton(false);
        }else {
            toggleButton(true);
        }
    });
});

function isPswdValid(paswd) {
    var numbers = /[0-9]/g;
    var upperCaseLetters = /[A-Z]/g;
    var lowerCaseLetters = /[a-z]/g;
    var specials = /[^a-zA-Z0-9]/g;
    if (paswd != "") {
        if (paswd.match(numbers) && paswd.match(upperCaseLetters) && paswd.match(lowerCaseLetters) && paswd.match(specials) && paswd.length >= 8) {
            return true;
        } else {
            return false;
        }
    } else {
        return false;
    }
}

function toggleButton(value) {
    console.log('toggle ' + value);
    $('[name="btConnecter"]').prop("disabled", value);
}
</script>
{% endblock %}