<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SimplÉduc{% endblock %}</title>

    <link rel="stylesheet" href="css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% block navbar %}
        <nav class="nav-extended blue lighten-3 center-align">
            <div class="nav-wrapper">
                <a href="index.php" class="brand-logo">SimplÉduc</a>
                <a href="" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li><a href="index.php?page=profile"><i class="material-icons">person</i>Profile</a></li>
            <li><a href="index.php?page=ajout"><i class="material-icons">add</i>Ajout d'utilisateur</a></li>
        </ul>
        {% endblock %}
    </header>

    <main class="blue lighten-5">
    {% block contenu %}{% endblock %}
    </main>

    {% block footer %}
    <footer class="page-footer blue lighten-3">
        <div class="container black-text">
        &copy; 2021 SimplÉduc, Tous droits réservés
        <a class="black-text right" href="mentions">Mentions légales</a>
        </div>
    </footer>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav({
        });
    });
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>