<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SimplEduc{% endblock %}</title>

    <link rel="stylesheet" href="css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% block navbar %}
        <nav class="nav-extended blue lighten-3 center-align">
            <div class="nav-wrapper">
                <a href="index.php" class="brand-logo">SimplEduc</a>
                <a href="" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li><a href="profile"><i class="material-icons">person</i>Mon profil</a></li>
            {% if session.login is defined %}
                {% if session.role == 3 %} {# Comptable #}
                    <li><div class="divider"></div></li>
                    <li><a href="#"><i class="material-icons">euro</i>Créer une fiche de paie</a></li>
                    <li><a href="#"><i class="material-icons">receipt</i>Liste des fiches de paie</a></li>

                {% elseif session.role == 4 or session.role == 5 %} {# RH, Directeur #}
                    <li><div class="divider"></div></li>
                    <li><a href="ajout"><i class="material-icons">add</i>Ajout d'utilisateur</a></li>
                    <li><a href="listeUser"><i class="material-icons">format_list_bulleted</i>Liste des utilisateurs</a></li>
                {% endif %}
                 <li><div class="divider"></div></li>
                <li><a class="waves-effect waves-light btn" id="wrapper" type="submit" href="deconnexion"><i class="material-icons">logout</i>Se déconnecter</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </header>

    <main class="blue lighten-5">
    {% block contenu %}{% endblock %}
    </main>

    {% block footer %}
    <footer class="page-footer blue lighten-3">
        <div class="container black-text">
        &copy; 2021 SimplEduc, Tous droits réservés
        <a class="black-text right" href="mentions">Mentions légales</a>
        </div>
    </footer>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav({
        });
    });
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>