{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Maintenance{% endblock %}

{% block contenu %}
<div class="container">
    <h2 class="center">Maintenance du site</h2>
</div>
{% endblock %}